.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;  
  width: 50px;
  height: 50px;
  text-align: center;
  padding:3px;
  border-radius:40px;
  background:green;
  z-index: 1111111;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}